@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    scroll-padding-top: smooth;
    list-style: none;
    text-decoration: none;
	
   
}

:root{
    --main-color: 	#0b421a;
    --text-color: #171427;
    
}
img {
    width: 100%;
}
body{
    color: var(--text-color);
	background-image: linear-gradient(rgba(0, 0, 0, 0.89),rgba(0,0,0,0.5)),  url(bg.jpg);
    color: white;
    
}
.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}
section{
    
    padding: auto;
    margin: auto;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 1px 4px hsl(0 4% 15%/ 10%);
    z-index: 100;
} 
.nav{
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.89),rgba(0,0,0,0.5)),  url(bg.jpg);
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.logo{
    margin-left: 12%;
    font-size: 1.2rem;
    color: white;
    font-weight: 400;
    
}
.nav img{
    position: absolute;
    left: 7.5%;
    top: 11%;
    background: transparent;
    width: 60px;
    white-space: nowrap;
}


  
.section-title{
    font-size:  1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
}

.sales{
    width: auto;
    margin-top: 4rem;
	margin-bottom: 4rem;
}
.sales-content{
    display: grid;
    margin-right: 1rem;
    grid-template-columns: repeat(auto-fit,minmax(150px,auto));
    gap:1.5rem;
}
.log{
    position:relative;
    top:2px;
    display:block;
    margin-left: auto;
    margin-right: auto;  
    width:30%;
    height: 50px;
    border: 1px solid;
    background: #eac784;
    border-radius: 25px;
    font-size: 18px;
    color: black;
    font-weight: 400;
    cursor: pointer;
    outline: none;
}


.dropbtn {
    background-color: #eac784;
    color: BLACK;
    padding: 11px;
    font-size: 16px;
    border: none;
}
.active{
    background-color: #eac784;

    white-space: nowrap;            
}

.dropdown {
  position: absolute;
  display: inline-block;
  left: 85%;
  margin-top: -5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #eac784;
  color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-image: linear-gradient(rgba(0, 0, 0, 0.89),rgba(0,0,0,0.5)),  url(bg.jpg);
color: white;
} 

