@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    scroll-padding-top: smooth;
    list-style: none;
    text-decoration: none;
   
}

:root{
    --main-color: 	#0b421a;
    --text-color: #171427;
    
}
img {
    width: 100%;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.89),rgba(0,0,0,0.5)),  url(bg.jpg);
    height: 100vh;
    
}
.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}
section{
    
    padding: auto;
    margin: auto;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 1px 4px hsl(0 4% 15%/ 10%);
    z-index: 100;
} 

.nav{
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.89),rgba(0,0,0,0.5)),  url(bg.jpg);
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.logo{
    margin-left: 12%;
    font-size: 1.2rem;
    color: white;
    font-weight: 400;
    
}
.nav img{
    position: absolute;
    left: 7.5%;
    top: 11%;
    background: transparent;
    width: 60px;
    white-space: nowrap;
}
.dropbtn {
    background-color: #eac784;
    color: BLACK;
    padding: 11px;
    font-size: 16px;
    border: none;
}
.active{
    background-color: #eac784;

    white-space: nowrap;            
}

.dropdown {
  position: absolute;
  display: inline-block;
  left: 85%;
  margin-top: -5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #eac784;
  color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-image: linear-gradient(rgba(0, 0, 0, 0.89),rgba(0,0,0,0.5)),  url(bg.jpg);
color: white;
}  
.center{
    caret-color: 	#fffcfc;
    color: 	#fffcfc;
    position: absolute;
    top:75%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background:linear-gradient(#0b421a,rgba(0, 0, 0, 0.89));
    border-radius: 10px;
	padding-top:20px;
}
.center h1{
    text-align: center;
	
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}
.center form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .txt_field{
    font-weight: bold;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.txt_field input{
    color: #fffcfc;
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;

}
.txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    pointer-events: none;
    transition: .5s;

}
.txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #eac784;
    transition:.5s;

}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
    top:-5px;
    color: #eac784;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
    width: 100%;

}
input[type="submit"]{
   width:100%;
   height: 50px;
    border: 1px solid;
    background: #eac784;
    border-radius: 25px;
    font-size: 18px;
    color: black;
    font-weight: 400;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
    border-color: black;
    transition: .5s;
}
.login_link{
    margin: 9px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}
.login_link a{
    color: #eac784;
    text-decoration: none;
}
.login_link a:hover{
       text-decoration: underline;
}

select{
    position: relative;
    width: 100%;
    background-color: rgb(202, 202, 202);
    font-family: 'sans-serif';
    font-size: 18px;
}