/* (A) WRAPPER */
* {
  font-family: arial, sans-serif;
  box-sizing: border-box;
}
body {
    display: flex;
    max-width: 5000px;
    /*min-height: 100vh;*/
    margin: 0 auto;
    background-image: url("images/background.jpg");

}
div.transbox {
    margin: 0px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.9;
}
#poslist { width: 100%; }
#poscart { width: 100%; }

/* (B) PRODUCTS LIST */
#poslist {
  display: grid;
  grid-template-columns: auto auto auto;
}
.pwrap {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fbfbfb;
  cursor: pointer;
  text-align: center;
}
.pimg { max-width: 100px; max-height: 100px; }
.pname { font-weight: 700; }
.pprice { color: #639aff; }

/* (C) CART */
#poscart {
  padding: 5px;
  background: #f7f7f7;
}
.citem > * { box-sizing: border-box; }
.citem, .cname { width: 100%: }
.citem { padding: 2px; }
.cname{ display: block; }
.cdel { width: 25%; }
.cqty { width: 75%; }
#ctotal { font-weight: 700; padding: 2px; }
.cdel, .cqty, #cempty, #ccheckout { padding: 2px; }
.cdel, #cempty, #ccheckout {
  background: #9a2121;
  border: 1px solid #9a2121;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
#cempty, #ccheckout { margin: 2px; }

/* (D) RECEIPT */
#posreceipt { display: none; }


table {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

input[type="button"] {
    width: 80px;
    background: black;
    padding: 1px 1px;
}
[type='button'].button2 {
    width: 100%;
    padding: 20px 40px;
    background-color: green;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 1px;
}

input[type="text"] {
    padding: 1px 1px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    border: 2px solid black;
}