* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 900px; 
}
.left {
font-family: "verdana";
background: #ffa500;
width: 25%;
}
.center{
  font-family: "verdana";
  background: #ffa500;
  width: 50%;
}
.right {
  font-family: "verdana";
  background: #FFB8B1;
  width: 25%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

 input[id="textf"] {
  width: 100%;
  padding: 80px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.box {
  background: white;
  height: 200px;
  width: 260px;
  border-radius: 10px;
}
div.gallery {
  margin: 4px;
  border: 1px solid #ccc;
  border-radius: 10px;
  float: left;
  width: 120px;
  background: violet;
}
div.gallery:hover {
  border: 2px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 2.5px;
  text-align: left;
  font-size: 14px;
}
.button {
  background: violet;
  border: 2px solid white;
  color: black;
  padding: 5px 10px;
  border-radius: 10px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-left: -1px;
  margin: 20px;
  outline: none;
  cursor: pointer;
  transition: 3s;

}
.button:focus {
  color: #706fd3;
  border: 2px solid rgba(112,111,211,1);
  box-shadow: 0px 0px 0px 1px rgba(112,111,211,1);
  animation: anim-shadow .3s forwards;
}
@keyframes anim-shadow {
  100% {
        box-shadow: 0px 0px 50px 20px rgba(112,111,211,0); 
  }
}
h5{
  font-size: 15px;
  color: black;
  margin: 15px;
}
h4{
  font-size: 15px;
  color: black;
  margin: 15px;
}
h3{
  font-size: 15px;
  color: black;
}
h2{
    background:lightblue;
    color:black;
}
body{
  background-color: orange ;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  width:4%;
}
body
{
  background-color: #f1f1f1;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  text-align: left;
}

header
{
    background-color: #fff;
    padding: 8px;
    box-shadow: 0 0 3px #000;
}
header li
{
  display: inline;
  padding-left: 25px;
}
header li a 
{
  color: #333;
  text-decoration: none;
  padding: 10px;
  transition: .3s ease;
}
header li a:hover
{
  color:royalblue;
}
header ul #contact a
{
  color: #fff;
  background-color: orange;
  border-radius: 30px;
  float: right;
  position: relative;
  top: -10px; 
}
header ul #contact a:hover
{
  background-color: goldenrod;
}

header li img
{
  width: 180px;
  float: left;
  margin-top: -25px;
}
.active
{
  color: royalblue;
}
</style>